# === Loading === #
loading:
    min: 0
    max: 1.0
    steps: 100

#  === Geometry === #
geometry:
    geometric_dimension: 2
    geom_type: "poker-chip"
    L: 1.
    H: 0.2
    h_div: 3

#  === Model === #
fem:
    degree_u: 2
    degree_q: 2

model:
    model_dimension: 3
    model_type: "plane-strain"
    kappa: 100.0
    mu:  0.4 # 1.0 * 2.0/5.0
    ell: 0.01
    G_c: 0.1
    k_res: 1.0e-6
    elastic: 0 # 0 false, 1 true
    nonlinear_elastic: 1 # 0 false, 1 true




    # could be "2D"/ "3D" / "plane_stress" / "plane_strain"
# === Solver === #
#snes_type": "qn",
#"snes_qn_type": "lbfgs", #lbfgs broyden, badbroyden
#"snes_qn_m": 100,
#"snes_qn_restart_type": "none", #<powell,periodic,none> 
#"pc_type": "cholesky", # cholesky >> hypre > gamg,sor ; asm, lu, gas - don't work
#"snes_linesearch_type": "basic",
#"ksp_type": "preonly",
#"pc_factor_mat_solver_type": "mumps",
#"snes_atol": 1.0e-08,
#"snes_rtol": 1.0e-08,
#"snes_stol": 0.0,
#"snes_max_it": 500,
#"snes_monitor": "",
## "snes_monitor_cancel": "",

solvers:
    elasticity:
        type: SNES
        prefix: elasticity_
        snes:
            # Nonlinear solver method (one of) newtonls newtontr newtontrdc nrichardson ksponly ksptransposeonly vinewtonrsls vinewtonssls ngmres qn shell ngs ncg fas ms nasm anderson aspin composite patch python (SNESSetType)
            snes_type:  vinewtonrsls # vinewtonrsls #vinewtonssls  ##vinewtonssls # vinewtonrsls
            #snes_type: qn
            #snes_qn_scale_type: jacobian #<diagonal,none,scalar,jacobian>
            #snes_qn_restart_type: powell #<powell,periodic,none>
            #snes_qn_type: lbfgs #lbfgs broyden, badbroyden
            #snes_qn_m: 100
            snes_linesearch_type: cp #nleqerr #bt, l2, cp, nleqerr
            snes_linesearch_damping: 0.5
            # snes_linesearch_monitor: ""
            snes_linesearch_order: 3
            snes_linesearch_minlambda: .5
            snes_ls_atol: 1.0e-8
            snes_ls_rtol: 1.0e-8
            snes_ls_stol: 0.0
            snes_converged_reason: ""
            #snes_tr_eta1 : 0.25
            #snes_tr_norm_type : 2
            #snes_tr_fallback_type : cauchy
            #snes_tr_deltamax: 1e-1
            #snes_tr_delta0: 1e-4
            snes_stol: 0
            snes_atol: 1e-8
            snes_rtol: 1e-8  
            snes_max_it: 500
            snes_monitor: "" 
            ksp_type: cg #gmres # preonly # preonly #cg
            ksp_atol: 1e-8
            ksp_rtol: 1e-8
            #pc_hypre_type: boomeramg #parasails # euclid, pilut, parasails, boomeramg, ams,
            pc_type: sor #bjacobi #eisenstat #eisenstat #gamg #  #eisenstat  #hypre # lu #lu, eisenstat
            #ksp_monitor: "" 
            #ksp_initial_guess_nonzero: "false"
            #ksp_gmres_cgs_refinement_type: refine_ifneeded #<refine_never,refine_ifneeded,refine_always>
            #pc_factor_mat_solver_type: hypre #mumps
            # error_on_nonconvergence: True
        tao:
            # Options in the case of TAO solver
            # lmvm nls ntr ntl cg tron owlqn bmrm blmvm bqnls bncg bnls bntr bntl bqnkls bqnktr bqnktl bqpip gpcg nm pounders brgn lcl ssils ssfls asils asfls ipm pdipm shell admm almm python
            tao_type: bqnls
            tao_linesearch_type: nleqerr #nleqerr #bt, l2, cp, nleqerr
            #snes_linesearch_damping: .5
            #snes_linesearch_monitor: ""
            snes_linesearch_order: 3
            snes_linesearch_minlambda: 5e-1

            tao_gpcg_maxpgits: 50
            tao_max_it: 100
            tao_steptol: 1.0e-7
            tao_fatol: 0.0e-8
            tao_frtol: 0.0e-8
            tao_gatol: 1.0e-8
            tao_grtol: 1.0e-8
            tao_gttol: 1.0e-8
            tao_catol: 0.
            tao_crtol: 0.
            tao_ls_ftol: 1e-8
            tao_ls_gtol: 1e-8
            tao_ls_rtol: 1e-8
            ksp_rtol: 1e-6
            tao_ls_stepmin: 1.e-8
            tao_ls_stepmax: 0.001
            pc_type: lu
            tao_monitor: ""
            # error_if_not_converged: True
            #tao_view: ""

    # Damage solver parameters
    damage:
        type: TAO
        prefix: damage_
        snes:
            # Options in the case of SNES solver
            # Nonlinear solver method (one of) newtonls newtontr newtontrdc nrichardson ksponly ksptransposeonly vinewtonrsls vinewtonssls ngmres qn shell ngs ncg fas ms nasm anderson aspin composite patch python (SNESSetType)
            snes_type: vinewtonssls # vinewtonssls
            snes_linesearch_damping: 0.
            snes_linesearch_type: cp
            ksp_type: cg
            pc_type: lu
            #pc_factor_mat_solver_type: mumps
            snes_atol: 1.0e-8
            snes_rtol: 1.0e-8
            snes_stol: 1.0e-8
            #snes_ls_atol: 1.0e-8
            #snes_ls_rtol: 1.0e-8
            #snes_ls_stol: 1.0e-8
            snes_max_it: 150
            # snes_divergence_tolerance: -1.0
            snes_monitor: ""
            # snes_error_if_not_converged: True
        tao:
            # Options in the case of TAO solver
            # lmvm nls ntr ntl cg tron owlqn bmrm blmvm bqnls bncg bnls bntr bntl bqnkls bqnktr bqnktl bqpip gpcg nm pounders brgn lcl ssils ssfls asils asfls ipm pdipm shell admm almm python
            tao_type: tron
            #tao_gpcg_maxpgits: 50
            tao_max_it: 500
            tao_steptol: 1.0e-7
            tao_gatol: 1.0e-6
            tao_grtol: 1.0e-6
            tao_gttol: 1.0e-6
            tao_catol: 0.
            tao_crtol: 0.
            tao_ls_ftol: 1e-8
            tao_ls_gtol: 1e-8
            tao_ls_rtol: 1e-8
            ksp_rtol: 1e-8
            tao_ls_stepmin: 0e-8
            tao_ls_stepmax: 1e6
            # pc_type: lu
            tao_monitor: ""
            # tao_error_if_not_converged: True
            # stao_view: ""


    # Damage Elasticity Solver parameters
    damage_elasticity:
        max_it: 200
        alpha_tol: 1.0e-4
        criterion:  "residual_u"
        error_on_nonconvergence: False
        energy_rtol: 1.0e-3
        energy_atol: 1.0e-3
        residual_u_tol: 1.0e-4

stability:
    order: 3
    maxmodes: 3
    checkstability: "True"
    continuation: "False"
    cont_rtol: 1.0e-10
    is_elastic_tol: 1.e-7
    inactiveset_gatol: 1.e-8
    inactiveset_pwtol: 1.e-8

    eigen:
        eps_type: "krylovschur"
        #eps_monitor: ""
        eps_tol: 1.e-7
        eig_rtol: 1.e-7
        eps_max_it: 500
        eps_target : 0
        #eps_view : ""
        spectral_transform: "shift-and-invert"
        spectral_shift: +1.0
