cores: 64
jobs: 2
threads: 32
resources:
  mem_mb: 8000
  time_min: 1440  # 24 hours

cluster:
  mkdir -p logs &&
  sbatch
    --job-name={rule}-{wildcards.combo_idx}
    --output=logs/{rule}-{wildcards.combo_idx}-%j.txt
    --cpus-per-task={threads}
    --mem-per-cpu={resources.mem_mb}
    --time={resources.time_min}
    --nodes=2
    --ntasks=64
    --ntasks-per-node=32
    --distribution=block:block
    --mem-bind=local
    --mpi=pmix_v3

cluster-cancel: scancel
cluster-status: squeue -j {cluster.job_id} -h -o %T | grep -q RUNNING

